<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .Meta.Title }}</title>
    </head>
    <body>
        {{ .Content }}
        <footer><a href="/">Homepage</a></footer>
    </body>
</html>
